/**
 * Mixins / Helpers
 */

%scroller
	height: 100%
	overflow: auto
	overflow-x: hidden
	padding: $gutter $gutter 0
	overflow-scrolling: touch

%scroll-item
	width: 100%
	display: block
	border-radius: $radius
	margin-bottom: $gutter

%fader
	transition: opacity $trans-time $trans-curve

=font-smoothing
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
	text-rendering: optimizeLegibility

=selection($color, $amount)
	::-moz-selection
		background-color: rgba($color, $amount)
	::selection
		background-color: rgba($color, $amount)
