/**
 * Color Shades
 */

$color-height: 5rem // 80

#color
	@extend %flex
	@extend %scroller
	padding-left: 0

	li
		@extend %scroll-item
		@extend %dflex
		align-items: center
		min-height: $color-height
		padding: 0.5rem 1rem
		user-select: none

	p
		@extend %flex
		text-align: right

	// label
	// 	font-size: 65%
	// 	font-style: italic
