/**
 * Color Shades
 */

$color-height: 5rem // 80

#color
	@extend %flex
	@extend %scroller
	padding-left: 0

	li
		position: relative
		@extend %scroll-item
		@extend %dflex
		@extend %acenter
		@extend %jcenter
		min-height: $color-height

		*
			pointer-events: none
			user-select: none

	label
		position: absolute
		font-style: italic
		font-weight: 700
		font-size: 80%
		right: 0.5em
		top: 0.5em

	span
		font-size: 120%
