/**
 * Color Nav
 */

$side-height: 2rem // 32
$side-width: 4rem // 64

#side
	@extend %dflex
	@extend %column
	@extend %scroller
	width: $side-width

	a
		@extend %flex
		@extend %scroll-item
		min-height: $side-height
