/**
 * Color Nav
 */

$side-gutter: 4px
$side-height: 2rem // 32
$side-width: 4rem // 64

#side
	position: fixed
	top: $title-height
	padding: $side-gutter
	padding-bottom: 0
	width: $side-width
	bottom: 0
	+scroll()
	left: 0

	a
		display: block
		border-radius: $radius
		margin-bottom: $side-gutter
		min-height: $side-height
		width: 100%
