/**
 * Title Header
 */

$top-height: 2.5rem

#top
	position: fixed
	background: $white
	height: $top-height
	line-height: $top-height
	text-transform: capitalize
	border-bottom: 1px solid md-color('grey', '300')
	z-index: 5
	right: 0
	left: 0
	top: 0
	h1
		font-size: 1.125em
		text-align: center
		@media screen and (max-width: 321px)
			font-size: 1em
