/**
 * Title Header
 */

$title-height: 2.5rem

#top
	position: fixed
	background: $white
	height: $title-height
	line-height: $title-height
	text-transform: capitalize
	border-bottom: 1px solid md-color('grey', '300')
	z-index: 5
	right: 0
	left: 0
	top: 0
	h1
		font-size: 1.125em
		text-align: center
