/**
 * Title Header
 */

$title-height: 2.5rem

#title
	position: fixed
	background: $white
	height: $title-height
	text-transform: capitalize
	line-height: $title-height
	border-bottom: 1px solid md-color('grey', '300')
	text-align: center
	font-weight: 700
	right: 0
	left: 0
	top: 0
